<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>AutomapicExt</Name><AddInID>{fc42f325-d305-4461-b268-eeb8f7689e86}</AddInID><Description>Permite la configuraci&#243;n de dependencias de Automapic</Description><Version>0.1</Version><Image>Images\AutomapicDock.png</Image><Author>Daniel Aguado H; Jorge Yupanqui</Author><Company>Ingemmet</Company><Date>05/20/2022</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="AutomapicExt_addin.py" namespace="AutomapicExt_addin"><ArcMap>
    <Commands>
        </Commands>
    <Extensions>
        <Extension autoLoad="true" category="AutomapicExt" class="AutomapicExtClass" description="" id="AutomapicExt_addin.AutomapicExtID" name="AutomapicExt" productName="AutomapicExt" showInExtensionDialog="true" />
        </Extensions>
    <Toolbars>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>